/*---------- General Styles -----------*/
body {
  margin: 0;
  background-color: #ffffff;
  background-image: url(images/bg-pattern.jpg);
}
header {
  color: #D6D6C2;
  background-color: #1a1a1a;
}
.name{
  font-family: Montserrat;
  font-size: 36pt;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}
a {
  color:#D6D6C2;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: Montserrat;
}
a:hover {
  text-decoration: underline;
  color:#999966;
}
/*---------- Navigation -----------*/
header nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}
header nav ul li {
  list-style-type: none;
}
body section ul li {
  list-style-type: none;
}

@media all and (min-width: 800px)
{
  header {
    display: flex;
    justify-content: space-between;
  }
  .name{
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 24pt;
  }
  header nav {
    margin-top: 14px;
  }
}
main {
  padding: 15px;
  color: #D6D6C2;
}
section {
  margin-bottom: 40px;
}
h1 {
  color: #D6D6C2;
  font-family: sans-serif;
  font-size: 24pt;
}
h3 {
  height: 10px;
}
footer {
  color: #D6D6C2;
  background-color: #1a1a1a;
  margin-top: 40px;
  margin-bottom: 0;
}
footer p {
  padding: 20px;
  margin-bottom: 0;
}
.align-center{
  text-align: center;
}
.solid-bg{
  padding: 40px;
  color: #D6D6C2;
  background-color: #1a1a1a;
}
.group {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
  margin: 10px;
}
@media all and (min-width: 800px)
{
  section{
    padding: 0 10%;
  }
  .group{
    flex-direction: row;
  }
}
form label{
  display: block;
}
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}
form textarea{
  height: 140px;
}
form button{
  display:flex;
  align-items: flex-start;
}